html
{
	font-family: Helvetica, Ariel, sans-serif;
	font-size: 75%;
	background-color: #e9e9e9;
	color: #333;
}

body
{
	padding: 0px;
	margin: 0px;
}

div#header
{
	overflow: hidden;
	position: relative;
}

div#header h1
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0.5em;
}

a
{
	text-decoration: none;
	color: #047;
}

#run, .right
{
	position: absolute;
	right: 0px;
}

h2
{
	overflow: hidden;
	position: relative;
}

h2 button
{
	font-size: 0.5em;
	padding: 0.5em;
	float: right;
}

.left
{
	position: absolute;
	left: 0px;
}

button, a.button, input[type="button"], input[type="submit"]
{
	padding: 1em;
	font-size: 1em;
	border-radius: 0.5em;
	border: 0px;
	text-transform: lowercase;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	background-color: #047;
}

#login table
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

input[type="text"], input[type="password"]
{
	padding: 0.75em;
	width: 20em;
}

#login input[type="submit"]
{
	width: 100%;
}

#login td.error
{
	color: #740;
	font-weight: bold;
	text-align: center;
}

button:hover, a.button:hover
{
	background-color: #000 !important;
}

button.ready, h2.ready button
{
	background-color: #074;
}

button.converging, h2.converging button, button.bootstrapping, h2.bootstrapping button
{
	background-color: #740;
}

button.error, h2.error button
{
	background-color: #f00;
}

div#container
{
	max-width: 964px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

h2
{
	cursor: pointer;
	background-color: #fff;
	padding: 0.5em;
	margin-bottom: 0px;
}

h2.ready
{
	color: #074;
}

h2.converging, h2.bootstrapping
{
	color: #740;
}

h2.error
{
	color: #f00;
}

div.console
{
	overflow-y: hidden;
	overflow-x: hidden;
	height: 1.5em;
	background-color: #047;
}

div.console.expanded
{
	height: 40.5em;
	overflow-y: scroll;
}

pre
{
	padding: 0.5em;
	padding-top: 0px;
	margin: 0px;
	color: #fff;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

@media screen and (min-width: 700px)
{
	html
	{
		font-size: 100%;
	}
}

@media screen and (min-width: 1020px)
{
	html
	{
		background-color: #fff;
		padding: 1em;
	}

	div#container
	{
		-moz-box-shadow: 0 0 5em rgba(0, 0, 0, 0.6);  
		-webkit-box-shadow: 0 0 5em rgba(0, 0, 0, 0.6);   
		box-shadow: 0 0 5em rgba(0, 0, 0, 0.6);
		background-color: #e9e9e9;
	}
}
